name: Create release branches

on:
  workflow_dispatch:
    inputs:
      release:
        description: Release name
        required: true
        type: string
      base:
        description: Base branch
        default: main

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - name: Create branch
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh api repos/danylo-sukhorukov/service-a/git/refs \
            -f ref=refs/heads/release/${{ inputs.release }} \
            -f sha=$(gh api repos/danylo-sukhorukov/service-a/git/ref/heads/main --jq .object.sha)
