name: Create release branches

on:
  workflow_dispatch:
    inputs:
      release:
        required: true
      base:
        default: main

permissions:
  contents: write

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
     - name: Create branch
       env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
       run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          BASE=${{ inputs.base }}
          RELEASE=${{ inputs.release }}
      
          echo "Owner: $OWNER"
      
          SHA=$(gh api "repos/$OWNER/service1/git/ref/heads/$BASE" --jq .object.sha)
      
          gh api "repos/$OWNER/service1/git/refs" \
            -f ref="refs/heads/release/$RELEASE" \
            -f sha="$SHA"


